# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/
*.xcodeproj/project.pbxproj

# Build
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Provisioning
*.mobileprovision
*.provisionprofile

# Code Signing
*.cer
*.p12
*.certSigningRequest

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Swift Package Manager
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
*.swp
*~
